<div class="list-group" style="border-radius:0">
    <a asp-controller="Home" asp-action="Index" asp-area="" class="list-group-item"><strong>Home</strong></a>
    <a href="#" class="list-group-item active">
        Admin
    </a>

    <a asp-controller="home" asp-action="index" asp-area="admin" class="list-group-item"><strong>Dashboard</strong></a>

    <a asp-page="/users/index" asp-area="admin" class="list-group-item">Users</a>
    <a asp-page="/holidays/index" asp-area="admin" class="list-group-item">Holidays</a>
</div>