<div class="list-group">
    <a asp-page="/index" asp-area="User" class="list-group-item"><strong>Dashboard</strong></a>

    <a asp-page="/sessions/index" asp-area="user" class="list-group-item">Time Sheet</a>
</div>