<div class="list-group">
    <a asp-page="/index" asp-area="User" class="list-group-item"><strong>Dashboard</strong></a>

    @*<a asp-page="/jobs/index" asp-area="user" class="list-group-item">Jobs</a>*@
</div>