@page
@model TimeCop.Web.Areas.Admin.Pages.Holidays.IndexModel
@{
}

<h1>Holidays</h1>
<hr />

<a class="btn btn-primary mb-3 mt-3" asp-page="./create" asp-area="admin">Add New</a>

<table class="table table-bordered">
    @foreach (var holiday in Model.HolidayList)
    {
        <tr>
            <td>@holiday.Note</td>
            <td>
                <a asp-page="./edit" asp-area="admin" asp-route-holidayid="@holiday.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }

</table>