@page
@model TimeCop.Web.Areas.User.Pages.IndexModel
@{
    ViewData["title"] = "Home";
}

<h2>
    @if (Model.Session.StartHour is not null)
    {
        <p>@Model.Session.StartHour.Note</p>
        <p>@Model.Session.StartHour.LogTime.ToString()</p>
    }
</h2>

<h2>New Hour</h2>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Note" class="form-label"></label>

        @if (Model.Session.StartHour is not null)
        {
            <input name="Note" class="form-control" value="@Model.Session.StartHour.Note" disabled readonly />
        }
        else
        {
            <input asp-for="Note" class="form-control" />
        }
        <span asp-validation-for="Note" class="text-danger"></span>
    </div>


    <button class="btn btn-primary mb-5">Save</button>
</form>